#Ignore Mac OS filesystem metadata
.DS_Store

# Ignore IDEA files
.idea/
*.iml

# Ignore build artifacts
build/

# Ignore Gradle cache and GUI config
.gradle
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache
